<%- include partials/header.ejs %> <%- include partials/main_nav.ejs %>

  <section id="aboutMe">

    <div class="media">
      <div class="media-body">
        <img src="https://i.imgur.com/CLW6V5q.png" class="mr-3" alt="Picture">
      </div>
    </div>

    <div class="media-body1"></div>

    <div class="media-body">
          <h5 class="mt-0">Who am I?</h5>
          Hi there, my name Haris Siddiqi.<br> I'm a software engineering new grad.<br> Passionate about devops and backedn dev.<br> Here are some of my interests.
          <p></p>
    </div>

    <div class="aboutMe">

      <ul class="list-unstyled">

        <li class="media">
         <div class="media-body">
            <h5 class="mt-0 mb-1"> Reading Books Worlds</h5> <i class="fas fa-dice-d20"></i> 
            I grew up reading books about fantasy books. Harry Potter and Percy Jackson are classics.
          </div>
        </li>

        <li class="media my-4">
        <div class="media-body">
            <h5 class="mt-0 mb-1"> Video-games</h5> <i class="fas fa-gamepad"></i>  
            Video games have always been present in my life. From PS2 to NDS to PC, playing games with my friends and bros is always fun.
          </div>
        </li>

        <li class="media my-4">
         <div class="media-body">
            <h5 class="mt-0 mb-1"> Sports</h5> <i class="fas fa-futbol"></i>
            Playing sports is amazing. Keeps you fit and healthy. I play soccer with my freinds. I also enjoy weight lifting and mma.
          </div>
        </li>

      </ul>
      
    </div>
    
  </section>

</main>

<%- include partials/bottom_nav.ejs %> <%- include partials/footer.ejs %>
